/* body-page */
.page{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF
}
/* Header portfolio */
*body {
font-family: 'Roboto', sans-serif;
color: #2E2F42;
font-style: normal;
background-color: #ffffff;
}

.logo-link{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-two{
color:#2e2f42;
}
.link{
    text-decoration: none;
}

/* list decoration */
.list {
list-style: none;
}
.menu-link{
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
     
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.contact-list{
    background-color: color#2e2f42;
    
}
:root {
    --background-dark: #2e2f42;
    --background-light: #f4f4fd;
    --background-white: #ffffff;
    --primary-btn: #4d5ae5;
    --pressed-btn: #404bbf;
    --title-color: #2e2f42;
    --descr-color: #434455;
}

.footer-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-two-footer {
    color:#f4f4fd;
}

/*header  */
.main-header-text{

font-weight: 700;
font-size: 56px;
line-height: 60px;
color: #2E2F42;    
}


/* Header 2 */

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
color: #2E2F42;

/* Header 3 */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;

/* Body */
.body-adress{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;    
}


/* Body Medium */
.body-text{

font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #2E2F42;   
letter-spacing: 0.02em;
}



/* Button Text */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
letter-spacing: 0.04em;

color: #2E2F42;

